/* DO NOT TOUCH THIS FILE */
/* This file contains some CSS that the instructor wrote to make the general layout of the page work. */
.banner {
    grid-column: span 4;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* GRID */
.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.span-1 { grid-column: span 1; }
.span-2 { grid-column: span 2; }
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }